<!-- link to the specific postid (the id is handled by db) -->
<div class="question-list-div">
  <h5>{{question.question}}</h5>
  <p>Written By: {{question.name}}</p>
  <footer>{{#link-to 'question' question.id}} See Question >> <span></span>{{/link-to}}</footer>
</div>
