<div class="well">
  <div class="row">
    <div class="col-md-6">
      <h2>Que?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer placerat, erat at aliquet ullamcorper, ligula risus gravida ipsum, eu hendrerit felis ligula ut lacus. Mauris congue nisl sed malesuada pharetra. Quisque sed nulla ultricies, aliquet massa ac, sollicitudin turpis. Curabitur id lacus mattis, fermentum urna mollis, auctor sem. Donec fringilla magna nec enim porta, ut egestas nibh auctor. Vestibulum sed fermentum sapien, in pellentesque risus.</p>
    </div>
    <div class="col-md-6">
      <h2>Paso?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer placerat, erat at aliquet ullamcorper, ligula risus gravida ipsum, eu hendrerit felis ligula ut lacus. Mauris congue nisl sed malesuada pharetra. Quisque sed nulla ultricies, aliquet massa ac, sollicitudin turpis. Curabitur id lacus mattis, fermentum urna mollis, auctor sem. Donec fringilla magna nec enim porta, ut egestas nibh auctor. Vestibulum sed fermentum sapien, in pellentesque risus.</p>
    </div>
  </div>
</div>
