<div class="container-fluid well">
  <div class="header">
    <div class="row">
      <div class="col-md-6">
        <h1>Not a pasta blog</h1>
      </div>
      <div class="col-md-6">
        <ul class="navigation">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  {{outlet}}
</div>

<div class="container-fluid well">
  <div class="footer">
    <div class="row">
      <div class="col-md-12">
        <h3>Made by Ryan Jones</h3>
      </div>
    </div>
  </div>
</div>
