<div class="well">
  <h3>Contact Details</h3>
  <ul>
    <li>Name: Ryan Jones</li>
    <li>Phone: 555-445-2321</li>
    <li>Email: example@test.com</li>
    <li>Address: 123 Gold Dishwasher Ave</li>
  </ul>
</div>
