<div class="well">
  <div class="welcome-message">
    <h3>Welcome to Texas Coders</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer placerat, erat at aliquet ullamcorper, ligula risus gravida ipsum, eu hendrerit felis ligula ut lacus. Mauris congue nisl sed malesuada pharetra. Quisque sed nulla ultricies, aliquet massa ac, sollicitudin turpis. Curabitur id lacus mattis, fermentum urna mollis, auctor sem. Donec fringilla magna nec enim porta, ut egestas nibh auctor. Vestibulum sed fermentum sapien, in pellentesque risus.</p>
  </div>
  <div class="what-we-provide">
    <h3>What our community provides</h3>
    <ul class="random-ul-list">
      <li>Connection to programmers like you</li>
      <li>Q/A format to help when coders get into tough problems</li>
      <li>Ability to help and be helped with programming issues</li>
    </ul>
  </div>
</div>
<div class="well">
  <div class="row">
    <div class="col-md-6">
      <div class="all-questions">
        <h3>All Questions (below)</h3>
        <ul>
          {{#each model.questions as |question|}}
            {{question-tile question=question}}
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="new-question">
        {{new-question saveQuestion="saveQuestion"}}
      </div>
    </div>
  </div>
</div>
